*{background-color: black;}
#outer2 {
  background-color: bisque;
  margin: auto;
  height: 100px;
  width: 750px;
  border-left: 4px violet solid;
  border-top: 4px violet solid;
  border-right: 4px violet solid;
}

#outer {
  background-color: burlywood;
  margin: auto;
  width: 300px;
  height: 30px;
  padding-top: 10px;
  margin: 20px auto;
}

#inner {
  background: rgb(255, 255, 255);
  height: 25px;
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

#left {
  background-color: cadetblue;
  margin-left: 573px;
  border-left: 4px violet solid;
  height: 100px;
  width: 150px;
  text-align: center;
  float: left;
}
#left2 {
  background-color: cornflowerblue;
  margin-left: 196;
  height: 100px;
  width: 150px;
  text-align: center;
  float: left;
}
#middle {
  background-color: yellow;
  height: 100px;
  width: 150px;
  text-align: center;
  float: left;
}
#right {
  background-color: rgb(255, 0, 0);
  height: 100px;
  width: 150px;
  text-align: center;
  float: left;
}
#right2 {
    background-color: purple;
    height: 100px;
    width: 150px;
    text-align: center;
    display: inline-block;
    border-right: 4px violet solid;
  }

#green {
    background-color: green;
    width: 200px;
    height: 300px;
    margin-left: 573px;
    border-left: 4px violet solid;
    float: left;
}
#Ablock {
    background-color: rgb(0, 89, 255);
    width: 250px;
    height: 50px;    
    display: inline-block;
    text-align: center;
    float: left;
}
#Iblock {
    background-color: rgb(93, 245, 161);
    width: 100px;
    height: 50px;    
    float: left;
    text-align: center;
}
#IIblock {
    background-color: darkorchid;
    width: 100px;
    height: 50px;    
    float: left;
    text-align: center;
}
#IIIblock {
    background-color: orange;
    width: 100px;
    height: 50px;    
    float: left;
    text-align: center;
    border-right: 4px violet solid;
}
#input {
    background-color: gray;
    width: 120px;
    height: 40px;
    margin-left: 40px;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}
#inputred {
    background-color: red;
    width: 150px;
    height: 60px;
    margin-left: 25px;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}
#inputorange {
    background-color: orange;
    width: 75px;
    height: 140px;
    margin-left: 25px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}
#inputyellow {
    background-color: yellow;
    width: 75px;
    height: 140px;
    margin-left: 100px;
    margin-top: -140px;
    text-align: center;
    font-size: 30px;
}

#blockb {
    background-color: lightskyblue;
    width: 83px;
    height: 200px;
    margin-left:777px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}
#blockb1 {
    background-color:red;
    width: 41px;
    height: 200px;
    margin-left:777px;
    margin-top: -100px;
    text-align: center;
    font-size: 30px;
}
#blockb2 {
    background-color: chartreuse;
    width: 42px;
    height: 100px;
    margin-left:818px;
    margin-top: -100px;
    text-align: center;
    font-size: 30px;
}
#blockc1 {
    background-color: darkcyan;
    width: 83px;
    height: 100px;
    margin-left:860px;
    margin-top: -300px;
    text-align: center;
    font-size: 30px;
}
#blockc2 {
    background-color: blue;
    width: 83px;
    height: 50px;
    margin-left:860px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}
#blockc3 {
    background-color: darkmagenta;
    width: 83px;
    height: 50px;
    margin-left:860px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}
#blockc4 {
    background-color:white;
    width: 41.5px;
    height: 100px;
    margin-left:860px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}
#blockc5 {
    background-color: darkgoldenrod;
    width: 41.5px;
    height: 100px;
    margin-left:901px;
    margin-top: -100px;
    text-align: center;
    font-size: 30px;
}
#blockd {
    background-color: lightgreen;
    width: 84px;
    height: 50px;
    margin-left:943px;
    margin-top: -250px;
    text-align: center;
    font-size: 30px;
}
#blockd1 {
    background-color: forestgreen;
    width: 84px;
    height: 50px;
    margin-left:943px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}
#blockd3 {
    background-color: chartreuse;
    width: 84px;
    height: 150px;
    margin-left:943px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
}
#img {
    width: 50px;
    margin-top: 30px;
}

#block4 {
    background-color: white;
    width: 300px;
    height: 130px;
    margin-left:1027px;
    margin-top: -300px;
    text-align: center;
    font-size: 30px;
    border-right: 4px violet solid;
}
#block- {
    background-color: red;
    width: 100px;
    height: 25px;
    margin-left:1125px;
    margin-top: -50px;
    text-align: center;
    font-size: 30px;
    
}
#block7 {
    background-color: darkslategray;
    width: 100px;
    height: 171px;
    margin-left:1027px;
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    
}
#block8 {
    background-color: darkslateblue ;
    width: 200px;
    height: 60px;
    margin-left:1127px;
    margin-top: -171px;
    text-align: center;
    font-size: 30px;
    border-right: 4px violet solid;
}
#block9 {
    background-color: purple;
    width: 100px;
    height: 58px;
    margin-left:1127px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;

}
#block10 {
    background-color: navajowhite;
    width: 100px;
    height: 58px;
    margin-left:1227px;
    margin-top: -58px;
    text-align: center;
    font-size: 30px;
    border-right: 4px violet solid;

}
#block11 {
    background-color: plum;
    width: 200px;
    height: 52px;
    margin-left:1127px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    border-right: 4px violet solid;

}
#blockgray {
    background-color: gray;
    width: 750px;
    height: 100px;
    margin-left:573px;
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    border-right: 4px violet solid;
    border-left: 4px violet solid;
    border-bottom: 4px violet solid;
}